.adventages {
    & .container {
        @include position();
        gap: 30px;
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            flex-wrap: nowrap;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: grid;
            grid-template-columns: 354px 354px;
        }
    }
    &__card {
        width: 270px;
        height: 251px;

        @media screen and (max-width: 767px) {
            width: 100%;
            max-width: 450px;
            height: fit-content;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 100%;
            max-width: 354px;
        }
    }
    &__img {
        background-color: $colorBgSecondary;
        padding: 25px 100px;
        border-radius: 4px;
        margin-bottom: 30px;

        @media screen and (max-width: 767px) {
            display: flex;
            justify-content: center;
            padding: 25px 0;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            justify-content: center;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
    &__description {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $colorTextMainGrey;
    }
}
