.clients {
    &__list {
        @include position();
        flex-wrap: wrap;
        gap: 30px;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: grid;
            grid-template-columns: 226px 226px 226px;
        }
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid $colorIconSocial;
        border-radius: 4px;
        padding: 16px 32px;
        fill: $colorIconSocial;
        transition: fill $transDurationFunction, border $transDurationFunction;
        &:is(:hover, :focus) {
            fill: $colorHover;
            border: 1px solid $colorHover;
        }
        @media screen and (max-width: 767px) {
            width: 210px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 100%;
            max-width: 226px;
        }
        
    }
}