.footer {
    background-color: $colorBgPrimary;
    padding-top: 60px;
    padding-bottom: 60px;
    & .container {
        display: flex;
        column-gap: 70px;
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
            justify-content: center;
            flex-direction: column;
            gap: 60px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__address {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 767px) {
            align-items: center;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            align-items: center;
        }
    }
    &__social {
        padding-top: 12px;
        height: fit-content;

        @media screen and (max-width: 767px) {
            padding-top: 0;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding-top: 0;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $colorTextMainLight;
        margin-bottom: 20px;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            text-align: center;
        }
    }
    &__form {
        padding-top: 12px;
        padding-left: 8px;
        height: fit-content;

        @media screen and (max-width: 767px) {
            padding-top: 0;
            padding-left: 0;
            height: fit-content;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            grid-column-start: 1;
            grid-column-end: 3;
            padding: 0;
            margin-top: 60px;
        }
    }
}
