.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $colorTextMainLight;
    padding: 48px 40px;
    z-index: 999;
    transform: translateX(100%);
    transition: $transDurationFunction;
    &.is-open {
        transform: translateX(0);
    }
    &__btn {
        position: absolute;
        top: 10px;
        right: 15px;
        border: none;
        background-color: transparent;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__item {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $colorTextMain;
        cursor: pointer;
        width: fit-content;
        &:is(:hover, :focus) {
            color: $colorHover;
        }
    }
    &__contact {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__tel {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $colorHover;
        width: fit-content;
    }
    &__email {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;

        color: $colorTextMainGrey;
    }
    &__social {
        list-style: none;
        display: flex;
        gap: 20px;
        margin-top: 64px;
        flex-wrap: wrap;
    }
    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $colorHover;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}
