.navigation {
    @include position();
    gap: 46px;
    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $colorTextMain;
        transition: color $transDurationFunction;
        position: relative;
        &:hover {
            color: $colorHover;
        }
        &--active {
            color: $colorHover;
            &::after {
                content: '';
                background-color: $colorHover;
                border-radius: 2px;
                width: 100%;
                height: 4px;
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(33px);
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .navigation {
        display: none;
    }
}