.solution {
    background-image: linear-gradient($colorBgPrimaryOp, $colorBgPrimaryOp),
        url(../images/main_page/solution/background_photo_section_solution.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $colorBgPrimary;
    @media screen and (max-width: 767px) {
        background-size: cover;
        background-image: linear-gradient($colorBgPrimaryOp, $colorBgPrimaryOp),
            url('../../images/main_page/solution/background-photo-section-solution-mobile.jpg');
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        background-size: cover;
        background-image: linear-gradient($colorBgPrimaryOp, $colorBgPrimaryOp),
            url('../../images/main_page/solution/background-photo-section-solution-tablet.jpg');
    }
    & .container {
        @include position();
        flex-direction: column;
        gap: 30px;
        padding-bottom: 200px;
        padding-top: 200px;
        @media screen and (max-width: 767px) {
            padding-bottom: 118px;
            padding-top: 118px;
        }
    }
    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $colorTextMainLight;
        max-width: 696px;
        @media screen and (max-width: 767px) {
            font-size: 26px;
            line-height: 1.62;
            max-width: 365px;
        }
    }
    &__btn {
        padding: 10px 41px 10px 42px;
    }
}
